:root {
  --color-black: #000;
  --color-grey: #777;
  --color-white: #fff;
  --burberry-soda: #7f8fa6;
  --pensive: #dcdde1;
  --lynx-white: #f5f6fa;
  --blue-1: #82ccdd;
  --red-1: #e55039;
  --red-2: #eb2f06;
  --blue-2: #546de5;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  max-width: 100%;
  color: var(--color-grey);
  background-color: var(--pensive);
}

::selection {
  background-color: #7ed56f;
  color: #fff;
}
