/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/poppins-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/poppins-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/poppins-v20-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/poppins-v20-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../../fonts/poppins-v20-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* poppins-italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("..//../fonts/poppins-v20-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/poppins-v20-latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../../fonts/poppins-v20-latin-italic.woff")
      format("woff"),
    /* Modern Browsers */ url("../../fonts/poppins-v20-latin-italic.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/poppins-v20-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/poppins-v20-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../../fonts/poppins-v20-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../../fonts/poppins-v20-latin-700.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* poppins-900 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/poppins-v20-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/poppins-v20-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v20-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../../fonts/poppins-v20-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("../../fonts/poppins-v20-latin-900.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

/* dosis-500 - latin */
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/dosis-v27-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/dosis-v27-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/dosis-v27-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../../fonts/dosis-v27-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../../fonts/dosis-v27-latin-500.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* dosis-700 - latin */
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/dosis-v27-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/dosis-v27-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/dosis-v27-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../../fonts/dosis-v27-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../../fonts/dosis-v27-latin-700.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* dosis-800 - latin */
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/dosis-v27-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/dosis-v27-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/dosis-v27-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../../fonts/dosis-v27-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("../../fonts/dosis-v27-latin-800.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/rubik-v21-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/rubik-v21-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/rubik-v21-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../../fonts/rubik-v21-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../../fonts/rubik-v21-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/rubik-v21-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/rubik-v21-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/rubik-v21-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../../fonts/rubik-v21-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../../fonts/rubik-v21-latin-500.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* rubik-700 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/rubik-v21-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/rubik-v21-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/rubik-v21-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../../fonts/rubik-v21-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../../fonts/rubik-v21-latin-700.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

/* rubik-bubbles-regular - latin */
@font-face {
  font-family: "Rubik Bubbles";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/rubik-bubbles-v2-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/rubik-bubbles-v2-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/rubik-bubbles-v2-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/rubik-bubbles-v2-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../../fonts/rubik-bubbles-v2-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

/* rubik-microbe-regular - latin */
@font-face {
  font-family: "Rubik Microbe";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/rubik-microbe-v2-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/rubik-microbe-v2-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/rubik-microbe-v2-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/rubik-microbe-v2-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../../fonts/rubik-microbe-v2-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

/* rubik-mono-one-regular - latin */
@font-face {
  font-family: "Rubik Mono One";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/rubik-mono-one-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/rubik-mono-one-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/rubik-mono-one-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/rubik-mono-one-v14-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../../fonts/rubik-mono-one-v14-latin-regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* rubik-moonrocks-regular - latin */
@font-face {
  font-family: "Rubik Moonrocks";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/rubik-moonrocks-v2-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/rubik-moonrocks-v2-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/rubik-moonrocks-v2-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/rubik-moonrocks-v2-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../../fonts/rubik-moonrocks-v2-latin-regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* rubik-wet-paint-regular - latin */
@font-face {
  font-family: "Rubik Wet Paint";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/rubik-wet-paint-v2-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/rubik-wet-paint-v2-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/rubik-wet-paint-v2-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/rubik-wet-paint-v2-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../../fonts/rubik-wet-paint-v2-latin-regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
