:root {
  --color-white: #fff;
  --white-solid: #f5f6fa;
  --heavenly-white: #ece9e6;
  --pensive: #dcdde1;
  --lynx-white: #f7f7f7;
  --ma-white: rgb(245, 248, 251);
  --light-kiri-mist: #d4d3dd;
  --lime-flip: #cfe1cf;
  --gnocchi-beige: #ffefba;
  --schabziger-yellow: #efefbb;
  --green-essence: rgba(234, 236, 198, 0.8);
  --color-black-light: rgba(0, 0, 0, 0.3);
  --color-black: #000;
  --color-grey: #777;
  --montage: #7f8fa6;
  --thick-blue: #546de5;
  --vivid-blue: #0082c8;
  --blue-chip: #1e5799;
  --ticino-blue: #2989d8;
  --eye-blue: #207cca;
  --light-blue-1: #1fa2ff;
  --light-blue-2: #12d8fa;
  --aero: #7db9e8;
  --spray: #82ccdd;
  --hippie-blue: #667db6;
  --washed-blue: rgba(147, 211, 224, 1);
  --dark-royalty: rgba(4, 4, 108, 1);
  --vallarta-blue: rgba(52, 102, 142);
  --lynx-screen-blue: rgb(43, 192, 228);
  --christmas-blue: rgba(50, 137, 185, 0.6);
  --naval: rgba(8, 44, 132, 0.01);
  --black-drop: rgba(147, 168, 224, 0.9);
  --house-blue: rgba(114, 158, 173, 0.7);
  --goblin-blue: rgba(97, 114, 119, 0.5);
  --discovery-bay: rgba(36, 107, 122, 0.6);
  --pea-green: #799f0c;
  --neo-mint: #a6ffcb;
  --american-green: rgba(57, 185, 50, 0.7);
  --india-green: rgba(21, 132, 8, 0.1);
  --dead-green: rgba(147, 224, 170, 0.7);
  --sage-garden: rgba(123, 173, 114, 0.7);
  --wild-forest: rgba(52, 142, 68, 0.7);
  --press-green: rgba(97, 106, 119, 0.5);
  --energise: rgba(126, 213, 111, 0.7);
  --mandarin-red: #e55039;
  --tomato-red: #eb2f06;
  --belladonna: rgba(36, 0, 19, 0.7);
  --peaceful-purple: rgba(104, 8, 132, 0.6);
  --font-default: "Poppins", sans-serif;
  --font-Dosis: "Dosis", sans-serif;
  --italic: italic;
  --boldest: 900;
  --bold: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 37.5%;
}
@media only screen and (min-width: 20em) {
  html {
    font-size: 31.25%;
  }
}
@media only screen and (min-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (min-width: 75em) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (min-width: 100em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-family: var(--font-default);
  font-weight: 400;
  line-height: 1.6;
  font-size: 2.5rem;
  width: 100%;
  height: 100%;
  color: var(--color-grey);
  background-color: var(--pensive);
}

::-moz-selection {
  background-color: var(--energise);
  color: var(--ma-white);
}

::selection {
  background-color: var(--energise);
  color: var(--ma-white);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 15vh;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(var(--heavenly-white), var(--color-white));
  display: flex;
  flex-direction: column;
  z-index: 100;
}
@media only screen and (min-width: 37.5em) {
  .header {
    height: 25vh;
  }
}
@media only screen and (min-width: 56.25em) {
  .header {
    height: 30vh;
  }
}
@media only screen and (min-width: 75em) {
  .header {
    height: 22vh;
  }
}
.header__1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 18rem;
  height: 10rem;
  border-radius: 1rem;
}
@media only screen and (min-width: 37.5em) {
  .header__logo {
    height: 11rem;
    width: 20rem;
  }
}
.header__logo--caption {
  display: none;
}
@media only screen and (min-width: 37.5em) {
  .header__logo--caption {
    display: block;
    position: absolute;
    top: 0.5rem;
    left: 22rem;
    text-transform: uppercase;
  }
}
.header__logo--chala {
  font-weight: var(--bold);
  font-family: "Rubik Microbe", cursive;
  background: linear-gradient(var(--lynx-screen-blue), var(--mandarin-red));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  letter-spacing: 0.3rem;
}
.header__logo--dry {
  position: inherit;
  left: 7rem;
  font-family: "Rubik Bubbles", cursive;
  background-image: linear-gradient(var(--hippie-blue), var(--lynx-screen-blue), var(--tomato-red), var(--lynx-screen-blue));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.header__logo--vice {
  position: inherit;
  left: 12rem;
  font-family: "Rubik Wet Paint", sans-serif;
  background-image: linear-gradient(var(--tomato-red), var(--lynx-screen-blue), var(--mandarin-red));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.header__text {
  padding: 0rem 1rem;
  text-align: center;
  font-size: 2rem;
}
@media only screen and (min-width: 37.5em) {
  .header__text {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .header__text {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 1.5rem;
  }
}
.header__text--icon {
  display: flex;
  align-items: center;
}
.header__text svg {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}
@media only screen and (min-width: 56.25em) {
  .header__text svg {
    fill: var(--hippie-blue);
  }
}
.header__text a:link, .header__text a:visited {
  text-decoration: none;
  color: inherit;
  font-weight: var(--bold);
}
@media only screen and (min-width: 56.25em) {
  .header__text a:link, .header__text a:visited {
    color: var(--hippie-blue);
  }
}

nav {
  margin-top: -5rem;
  background: linear-gradient(var(--heavenly-white), var(--color-white));
  padding: 2.5rem 0;
  width: 5rem;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem var(--color-black-light);
  transition: width 0.6s linear;
  overflow: hidden;
  align-self: flex-end;
  z-index: 20;
}
@media only screen and (min-width: 56.25em) {
  nav {
    background: unset;
    box-shadow: unset;
    border-radius: unset;
  }
}
nav.active {
  width: 60%;
}
@media only screen and (min-width: 31.25em) {
  nav.active {
    width: 45rem;
  }
}
@media only screen and (min-width: 56.25em) {
  nav.active {
    width: 50%;
  }
}
nav.active ul {
  width: 100%;
}
nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}
nav.active .icon--line1 {
  transform: rotate(-765deg) translateY(0.5rem);
}
nav.active .icon--line2 {
  transform: rotate(765deg) translateY(-0.5rem);
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 0.6s linear;
}
@media only screen and (min-width: 56.25em) {
  nav ul {
    justify-content: space-around;
  }
}
nav ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
}
nav ul a:link, nav ul a:visited {
  position: relative;
  text-decoration: none;
  padding: 1rem;
  color: var(--lynx-screen-blue);
  font-weight: 500;
  font-family: var(--font-Dosis);
  text-transform: uppercase;
  font-size: 2rem;
  cursor: pointer;
}
@media only screen and (min-width: 56.25em) {
  nav ul a:link, nav ul a:visited {
    font-size: 2rem;
    color: var(--lynx-screen-blue);
  }
  nav ul a:hover, nav ul a:active {
    background-color: var(--white-solid);
    transition: 0.3s ease-out;
    letter-spacing: 0.2rem;
  }
}

.icon {
  background-color: var(--heavenly-white);
  border: 0;
  cursor: pointer;
  padding: 2rem;
  position: relative;
  top: 0;
  right: 0;
  height: 1.5rem;
  width: 1.5rem;
}
@media only screen and (min-width: 56.25em) {
  .icon {
    display: none;
  }
}
.icon:focus {
  outline: 0;
}
.icon__line {
  background-color: var(--lynx-screen-blue);
  height: 0.2rem;
  width: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  transition: transform 0.5s linear;
}
.icon--line2 {
  top: auto;
  bottom: 1.5rem;
}

.home {
  height: 85vh;
  width: 100%;
  margin-top: 10rem;
  font-weight: 700;
  background-image: linear-gradient(105deg, var(--energise), var(--american-green));
  overflow: hidden;
}
@media only screen and (min-width: 37.5em) {
  .home {
    height: 78vh;
  }
}
@media only screen and (min-width: 75em) {
  .home {
    height: 88vh;
  }
}
.home__container {
  height: 100%;
  width: 100%;
  position: relative;
}
.home__bg {
  height: 100%;
  width: 100%;
}
.home__bg--slide {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: slideIn 70s linear infinite normal forwards 1s;
          animation: slideIn 70s linear infinite normal forwards 1s;
  transform: translateX(0);
}
.home__text {
  width: 100%;
  font-size: 3.5rem;
  font-family: var(--font-Dosis);
  font-weight: var(--bold);
  position: absolute;
  top: 5rem;
  left: 15rem;
  color: var(--ma-white);
}
@media only screen and (min-width: 37.5em) {
  .home__text {
    line-height: 1.3;
  }
}
@media only screen and (min-width: 56.25em) {
  .home__text {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 75em) {
  .home__text {
    padding: 3rem 20rem;
  }
}
.home__text-slide {
  color: var(--pensive);
  white-space: nowrap;
  -webkit-animation: slide-left 10s linear infinite;
          animation: slide-left 10s linear infinite;
}
.home__text-slide span {
  margin-right: 20rem;
  text-transform: uppercase;
}
.home__text-box {
  position: relative;
  text-align: center;
}
.home__text-box div {
  position: absolute;
  top: 5rem;
  -webkit-animation: slide 5s infinite;
          animation: slide 5s infinite;
}
@media only screen and (min-width: 37.5em) {
  .home__text-box div {
    top: 0rem;
  }
}
@media only screen and (min-width: 75em) {
  .home__text-box div {
    top: 3rem;
  }
}
.home__text--span {
  font-weight: 500;
  color: var(--lynx-white);
}
.home__text--quick {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 800;
  font-family: var(--font-default);
  letter-spacing: 0.5rem;
  color: var(--dark-royalty);
  background-image: linear-gradient(120deg, var(--lynx-white), var(--green-essence) 100%);
  background-repeat: no-repeat;
  background-size: 100% 1rem;
  background-position: 0 70%;
  transition: background-size 0.3s ease-in;
}
.home__text--quick:hover {
  background-size: 100% 60%;
}
.home__text a:link, .home__text a:visited {
  text-decoration: none;
  font-weight: 800;
  font-style: oblique;
  letter-spacing: 0.3rem;
  background-image: linear-gradient(90deg, var(--dark-royalty) 0%, var(--vivid-blue) 17%, var(--dark-royalty) 39%, var(--vivid-blue) 59%, var(--dark-royalty) 85%, var(--vivid-blue) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  cursor: pointer;
}

.about {
  width: 100%;
  background: linear-gradient(to bottom, var(--gnocchi-beige), var(--color-white));
  padding: 1rem 2rem;
  text-align: center;
}
.about__desc {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 56.25em) {
  .about__desc {
    font-size: 2rem;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
}
.about__photo {
  width: 100%;
}
.about__img {
  width: 70rem;
  height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
  box-shadow: 0 2rem 2rem var(--white-solid);
}
@media only screen and (min-width: 37.5em) {
  .about__img {
    width: 70rem;
    height: 50rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .about__img {
    width: 55rem;
    height: auto;
  }
}
@media only screen and (min-width: 75em) {
  .about__img {
    width: 65rem;
  }
}
.about__img--caption {
  font-style: var(--italic);
  font-weight: 700;
  font-size: 1.8rem;
}
.about__heading {
  font-size: 4rem;
  font-weight: var(--bold);
  padding: 1rem;
  word-spacing: 0.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-family: "Rubik Microbe", sans-serif;
  background-image: linear-gradient(45deg, var(--blue-chip) 0%, var(--ticino-blue) 50%, var(--eye-blue) 51%, var(--aero) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.about__heading--2 {
  font-size: 4rem;
  font-weight: var(--bold);
  padding: 0.5rem;
  color: var(--blue-chip);
  word-spacing: 2rem;
}
.about__heading--2 span {
  color: var(--aero);
  font-weight: 800;
  font-family: var(--font-Dosis);
}
.about__heading--3 {
  padding: 0.5rem 0;
  font-weight: var(--bold);
}
.about__paragraph--1 {
  padding: 1rem;
  font-size: 3rem;
  font-style: var(--italic);
  font-weight: var(--boldest);
  background-image: linear-gradient(var(--mandarin-red), var(--tomato-red));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.about__paragraph--2 {
  font-weight: var(--boldest);
  font-size: 2rem;
}
.about__paragraph--3 {
  font-size: 3rem;
  font-weight: var(--bold);
  background: linear-gradient(90deg, var(--belladonna) 0%, var(--peaceful-purple) 17%, var(--washed-blue) 39%, var(--dark-royalty) 59%, var(--neon-blue) 85%, var(--vallarta-blue) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding: 1rem;
}

.services {
  background: linear-gradient(to right, var(--schabziger-yellow), var(--light-kiri-mist));
}
.services__heading {
  font-size: 4rem;
  text-align: center;
  font-weight: var(--bold);
  font-family: var(--font-Dosis);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--aero);
  word-spacing: 0.5rem;
  width: 75%;
  margin: 0 auto;
  padding: 1rem;
}
.services__heading span {
  display: block;
  font-weight: var(--boldest);
  font-style: var(--italic);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--tomato-red);
  text-transform: uppercase;
}
.services__container {
  background-color: var(--white-solid);
  width: 80%;
  margin: 5rem auto;
  box-shadow: 0 1rem 3rem var(--montage);
  border-radius: 2rem;
  text-align: center;
}
@media only screen and (min-width: 37.5em) {
  .services__container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 75em) {
  .services__container {
    width: 100%;
    border-radius: unset;
    box-shadow: unset;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
  }
}
.services__container--box {
  padding: 2rem;
}
@media only screen and (min-width: 37.5em) {
  .services__container--box {
    font-size: 2rem;
  }
}
.services__container--box svg {
  width: 15rem;
  height: 15rem;
  filter: opacity(0.5) drop-shadow(0 0 0 var(--aero));
}
.services__container--box img {
  width: 15rem;
  height: 15rem;
  filter: opacity(0.5) drop-shadow(0 0 0 var(--aero));
}
.services__container--head {
  font-size: 3rem;
  padding: 1rem 0;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.2rem var(--tomato-red);
}
.services__container--text {
  padding: 1rem;
  color: var(--color-grey);
}
@media only screen and (min-width: 37.5em) {
  .services__container--text {
    grid-column: 1/-1;
    align-self: end;
  }
}
.services__container--text span {
  font-size: 3rem;
  font-weight: var(--boldest);
  font-style: var(--italic);
  color: var(--lynx-screen-blue);
}

.information {
  text-align: center;
  padding: 0rem 3.5rem;
}
@media only screen and (min-width: 56.25em) {
  .information {
    display: flex;
  }
}
.information__heading {
  padding-top: 1rem;
  text-align: center;
  font-size: 4rem;
  color: var(--white-solid);
  word-spacing: 0.3rem;
  text-transform: uppercase;
  background: linear-gradient(120deg, var(--vivid-blue), var(--neo-mint) 100%);
}
@media only screen and (min-width: 75em) {
  .information__heading {
    background: unset;
    color: var(--lynx-screen-blue);
  }
}
.information__container {
  width: 100%;
  height: 100%;
  padding: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information__container--head {
  padding: 1rem;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: var(--boldest);
  letter-spacing: 0.3rem;
}
.information__vd {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.1;
  padding: 2rem 0;
}
.information__vd--content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact {
  background-color: var(--color-black);
  color: var(--white-solid);
  text-align: center;
}
.contact__box {
  padding: 3rem;
}
.contact__heading {
  color: var(--neon-blue);
}
.contact__heading-icon {
  width: 10rem;
  height: 10rem;
  fill: var(--lynx-screen-blue);
}
.contact__address {
  font-size: 2rem;
}
@media only screen and (min-width: 56.25em) {
  .contact__address {
    display: grid;
    grid: "box1 box1" 1fr "box2 box3" 1fr "box4 box5" 1fr;
    justify-items: center;
  }
}
@media only screen and (min-width: 75em) {
  .contact__address {
    font-size: 1.3rem;
    grid: "box1 box1 box2 box3 box4 box5" 1fr;
    justify-items: space-between;
  }
}
@media only screen and (min-width: 56.25em) {
  .contact__box1 {
    grid-area: box1;
  }
  .contact__box2 {
    grid-area: box2;
  }
  .contact__box3 {
    grid-area: box3;
  }
  .contact__box4 {
    grid-area: box4;
  }
  .contact__box5 {
    grid-area: box5;
  }
}
.contact__box1 {
  white-space: nowrap;
  color: var(--lynx-screen-blue);
}
@media only screen and (min-width: 31.25em) {
  .contact__box1 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 37.5em) {
  .contact__box1 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 75em) {
  .contact__box1 {
    font-size: 1.3rem;
  }
}
.contact__text {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__text svg {
  width: 5rem;
  height: 5rem;
  transition: all 0.5s;
}
@media only screen and (min-width: 75em) {
  .contact__text svg {
    width: 3rem;
    height: 3rem;
  }
}
.contact__text svg:hover {
  transform: scale(1.5);
}
.contact__text-location {
  fill: var(--tomato-red);
}
.contact__text-phone {
  fill: var(--energise);
}
.contact__text-mail {
  fill: var(--ticino-blue);
}
.contact__text-whatsapp {
  fill: var(--energise);
}
.contact__text-facebook {
  fill: var(--ticino-blue);
}
.contact__text-link:link, .contact__text-link:visited {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--lynx-screen-blue);
  background-image: linear-gradient(60deg, transparent 50%, var(--lynx-white) 50%);
  background-size: 220%;
  transition: all 0.5s;
}
.contact__text-link:active, .contact__text-link:hover {
  color: var(--american-green);
  background-position: 100%;
  letter-spacing: 0.5rem;
}

.attribution {
  text-align: center;
}
.attribution a:link, .attribution a:visited {
  text-decoration: none;
  color: var(--lynx-screen-blue);
  font-style: var(--italics);
}

.web-scroll {
  position: relative;
  transform: translateY(15rem);
  opacity: 0;
  transition: 2s all ease;
}
.web-scroll.active {
  transform: translateY(0);
  opacity: 1;
}

.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  -webkit-animation: fade-bottom 1s ease-in;
          animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  -webkit-animation: fade-left 1s ease-in;
          animation: fade-left 1s ease-in;
}

.active.fade-right {
  -webkit-animation: fade-right 1s ease-in;
          animation: fade-right 1s ease-in;
}

@-webkit-keyframes slideIn {
  0% {
    background-image: linear-gradient(var(--dead-green), var(--wild-forest)), url("/img/machine-1.jpg");
    opacity: 0;
  }
  10% {
    background-image: linear-gradient(var(--wild-forest), var(--dead-green)), url("/img/clothes-1.jpg");
    opacity: 1;
  }
  20% {
    background-image: linear-gradient(var(--dead-green), var(--wild-forest)), url("/img/machine-2.jpg");
    opacity: 0;
  }
  30% {
    background-image: linear-gradient(var(--wild-forest), var(--american-green)), url("/img/machine-3.jpg");
    opacity: 1;
  }
  40% {
    background-image: linear-gradient(45deg, var(--press-green), transparent), url("/img/building-1-min.jpeg");
    opacity: 0;
  }
  55% {
    background-image: linear-gradient(var(--american-green), var(--sage-garden)), url("/img/full-card-min.jpeg");
    opacity: 1;
  }
  65% {
    background-image: linear-gradient(var(--sage-garden), var(--dead-green)), url("/img/machine-4.jpg");
    opacity: 0;
  }
  90% {
    background-image: linear-gradient(var(--sage-garden), var(--sage-garden)), url("/img/soap.jpg");
    opacity: 0;
  }
  100% {
    background-image: linear-gradient(var(--sage-garden), var(--wild-forest)), url("/img/machine-5.jpg");
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    background-image: linear-gradient(var(--dead-green), var(--wild-forest)), url("/img/machine-1.jpg");
    opacity: 0;
  }
  10% {
    background-image: linear-gradient(var(--wild-forest), var(--dead-green)), url("/img/clothes-1.jpg");
    opacity: 1;
  }
  20% {
    background-image: linear-gradient(var(--dead-green), var(--wild-forest)), url("/img/machine-2.jpg");
    opacity: 0;
  }
  30% {
    background-image: linear-gradient(var(--wild-forest), var(--american-green)), url("/img/machine-3.jpg");
    opacity: 1;
  }
  40% {
    background-image: linear-gradient(45deg, var(--press-green), transparent), url("/img/building-1-min.jpeg");
    opacity: 0;
  }
  55% {
    background-image: linear-gradient(var(--american-green), var(--sage-garden)), url("/img/full-card-min.jpeg");
    opacity: 1;
  }
  65% {
    background-image: linear-gradient(var(--sage-garden), var(--dead-green)), url("/img/machine-4.jpg");
    opacity: 0;
  }
  90% {
    background-image: linear-gradient(var(--sage-garden), var(--sage-garden)), url("/img/soap.jpg");
    opacity: 0;
  }
  100% {
    background-image: linear-gradient(var(--sage-garden), var(--wild-forest)), url("/img/machine-5.jpg");
    opacity: 1;
  }
}
@-webkit-keyframes fade-bottom {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-bottom {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-left {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-right {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-left {
  0% {
    transform: translateX(100rem);
  }
  100% {
    transform: translateX(-100rem);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(100rem);
  }
  100% {
    transform: translateX(-100rem);
  }
}
@-webkit-keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: 0.5rem;
  }
  50% {
    top: 1rem;
  }
  75% {
    top: 1.5rem;
  }
  100% {
    top: 2rem;
  }
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: 0.5rem;
  }
  50% {
    top: 1rem;
  }
  75% {
    top: 1.5rem;
  }
  100% {
    top: 2rem;
  }
}/*# sourceMappingURL=main.css.map */