:root {
  --color-white: #fff;
  --white-solid: #f5f6fa;
  --heavenly-white: #ece9e6;
  --pensive: #dcdde1;
  --lynx-white: #f7f7f7;
  --ma-white: rgb(245, 248, 251);
  --light-kiri-mist: #d4d3dd;
  --lime-flip: #cfe1cf;
  --gnocchi-beige: #ffefba;
  --schabziger-yellow: #efefbb;
  --green-essence: rgba(234, 236, 198, 0.8);
  --color-black-light: rgba(0, 0, 0, 0.3);
  --color-black: #000;
  --color-grey: #777;
  --montage: #7f8fa6;
  --thick-blue: #546de5;
  --vivid-blue: #0082c8;
  --blue-chip: #1e5799;
  --ticino-blue: #2989d8;
  --eye-blue: #207cca;
  --light-blue-1: #1fa2ff;
  --light-blue-2: #12d8fa;
  --aero: #7db9e8;
  --spray: #82ccdd;
  --hippie-blue: #667db6;
  --washed-blue: rgba(147, 211, 224, 1);
  --dark-royalty: rgba(4, 4, 108, 1);
  --neon-blue: rgba(0, 212, 255, 1);
  --vallarta-blue: rgba(52, 102, 142);
  --lynx-screen-blue: rgb(43, 192, 228);
  --christmas-blue: rgba(50, 137, 185, 0.6);
  --naval: rgba(8, 44, 132, 0.01);
  --black-drop: rgba(147, 168, 224, 0.9);
  --house-blue: rgba(114, 158, 173, 0.7);
  --goblin-blue: rgba(97, 114, 119, 0.5);
  --discovery-bay: rgba(36, 107, 122, 0.6);
  --pea-green: #799f0c;
  --neo-mint: #a6ffcb;
  --american-green: rgba(57, 185, 50, 0.8);
  --india-green: rgba(21, 132, 8, 0.1);
  --dead-green: rgba(147, 224, 170, 0.7);
  --sage-garden: rgba(123, 173, 114, 0.7);
  --wild-forest: rgba(52, 142, 68, 0.7);
  --press-green: rgba(97, 106, 119, 0.5);
  --energise: rgba(126, 213, 111, 0.8);
  --mandarin-red: #e55039;
  --tomato-red: #eb2f06;
  --belladonna: rgba(36, 0, 19, 0.7);
  --peaceful-purple: rgba(104, 8, 132, 0.6);
  --font-Dosis: "Dosis", sans-serif;
  --italic: italic;
  --boldest: 900;
  --bold: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  max-width: 100%;
  color: var(--color-grey);
  background-color: var(--pensive);
}

::-moz-selection {
  background-color: var(--energise);
  color: var(--ma-white);
}

::selection {
  background-color: var(--energise);
  color: var(--ma-white);
}

.header {
  height: 20vh;
  width: 100%;
  background: linear-gradient(var(--heavenly-white), var(--color-white));
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.header__1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 15rem;
  height: 10rem;
  margin: 1rem;
  border-radius: 1rem;
}
.header__logo--caption {
  position: absolute;
  top: 2rem;
  left: 25%;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.header__logo--chala {
  display: block;
  font-weight: var(--bold);
  text-align: center;
  font-family: "Rubik Microbe", cursive;
  background: linear-gradient(var(--vivid-blue), var(--pea-green));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  letter-spacing: 0.5rem;
}
.header__logo--dry {
  display: block;
  font-size: 2.5rem;
  font-family: "Rubik Bubbles", cursive;
  background-image: linear-gradient(var(--hippie-blue), var(--vivid-blue), var(--vivid-blue), var(--hippie-blue));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.header__logo--vice {
  display: block;
  text-align: center;
  font-family: "Rubik Wet Paint", sans-serif;
  background-image: linear-gradient(var(--light-blue-1), var(--light-blue-2), var(--neo-mint));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.header__text {
  padding: 1rem 10rem;
  text-align: center;
}
.header__text--icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__text--num {
  font-size: 1.5rem;
  font-weight: var(--bold);
}
.header__text svg {
  width: 2rem;
  height: 2rem;
}
.header__text--email {
  font-size: 2rem;
  font-weight: var(--bold);
}
.header__text a {
  text-decoration: none;
  color: var(--color-grey);
}

nav {
  transform: translate(33rem, -5rem);
  background: linear-gradient(var(--heavenly-white), var(--color-white));
  padding: 3rem 0.5rem;
  width: 8rem;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  box-shadow: 0 0.5rem 0.5rem var(--color-black-light);
  transition: width 0.6s linear;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

nav.active {
  width: 40rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0 1rem;
  margin: 0;
  width: 0;
  transition: width 0.6s linear;
}

nav.active ul {
  width: 100%;
}

nav ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

nav ul a {
  position: relative;
  text-decoration: none;
  padding: 0 0.5rem;
  color: var(--color-black);
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-Dosis);
  text-transform: uppercase;
}

.icon {
  background-color: var(--white-solid);
  border: 0;
  cursor: pointer;
  padding: 2rem;
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
}

.icon:focus {
  outline: 0;
}

.icon .line {
  background-color: var(--neon-blue);
  height: 0.2rem;
  width: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  transition: transform 0.6s linear;
}

.icon .line2 {
  top: auto;
  bottom: 1.5rem;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(0.5rem);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-0.5rem);
}

.home {
  height: 75vh;
  width: 100%;
  font-weight: 700;
  background-image: linear-gradient(105deg, var(--energise), var(--american-green));
}
.home__container {
  height: 100%;
  width: 100%;
  position: relative;
}
.home__bg {
  height: 100%;
  width: 100%;
}
.home__bg--slide {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: slideIn 70s linear infinite normal forwards 1s;
          animation: slideIn 70s linear infinite normal forwards 1s;
  transform: translateX(0);
}
.home__text {
  font-size: 2.5rem;
  font-family: var(--font-Dosis);
  font-weight: var(--bold);
  position: absolute;
  padding: 0 2.5rem;
  top: 20%;
  left: 0%;
  color: var(--ma-white);
}
.home__text--cloth {
  font-size: 3rem;
  font-weight: 500;
  color: var(--lynx-white);
}
.home__text--quick {
  display: block;
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 1rem;
  color: var(--dark-royalty);
  background-image: linear-gradient(120deg, var(--lynx-white), var(--green-essence) 100%);
  background-repeat: no-repeat;
  background-size: 100% 1rem;
  background-position: 0 75%;
  transition: background-size 0.25s ease-in;
}
.home__text--quick:hover {
  background-size: 100% 60% !important;
}
.home__text a {
  text-decoration: none;
  font-size: 3.5rem;
  font-weight: 800;
  font-style: oblique;
  letter-spacing: 0.5rem;
  background-image: linear-gradient(90deg, var(--dark-royalty) 0%, var(--vivid-blue) 17%, var(--dark-royalty) 39%, var(--vivid-blue) 59%, var(--dark-royalty) 85%, var(--vivid-blue) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.about {
  width: 100%;
  background: linear-gradient(to bottom, var(--gnocchi-beige), var(--color-white));
  font-size: 1.6rem;
  padding: 1rem 2rem;
  text-align: center;
}
.about__desc {
  display: flex;
  flex-direction: column;
}
.about__photo {
  width: 100%;
}
.about__img {
  width: 35rem;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
  box-shadow: 0 2rem 2rem var(--white-solid);
}
.about__img--caption {
  font-style: var(--italic);
  font-weight: 700;
  font-size: 1rem;
}
.about__heading {
  font-size: 2rem;
  padding: 1rem;
  word-spacing: 1rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-family: "Rubik Microbe", sans-serif;
  background-image: linear-gradient(45deg, var(--blue-chip) 0%, var(--ticino-blue) 50%, var(--eye-blue) 51%, var(--aero) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.about__heading--2 {
  font-size: 2.5rem;
  padding: 0.5rem;
  color: var(--blue-chip);
  word-spacing: 2rem;
}
.about__heading--2 span {
  color: var(--aero);
  font-weight: 800;
  font-family: var(--font-Dosis);
}
.about__heading--3 {
  padding: 0.5rem 0;
  font-weight: var(--bold);
}
.about__paragraph--1 {
  padding: 1rem;
  font-weight: var(--boldest);
  background-image: linear-gradient(var(--mandarin-red), var(--tomato-red));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-style: var(--italic);
}
.about__paragraph--2 {
  font-weight: var(--boldest);
}
.about__paragraph--3 {
  font-size: 2.5rem;
  font-weight: var(--bold);
  background: linear-gradient(90deg, var(--belladonna) 0%, var(--peaceful-purple) 17%, var(--washed-blue) 39%, var(--dark-royalty) 59%, var(--neon-blue) 85%, var(--vallarta-blue) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding: 1rem;
}

.services {
  background: linear-gradient(to right, var(--schabziger-yellow), var(--light-kiri-mist));
}
.services__heading {
  font-size: 3rem;
  text-align: center;
  font-weight: var(--bold);
  font-family: var(--font-Dosis);
  text-shadow: 2px 2px 2px var(--aero);
  word-spacing: 1rem;
  width: 75%;
  margin: 0 auto;
}
.services__heading span {
  display: inline-block;
  font-size: 3rem;
  font-weight: var(--boldest);
  font-style: var(--italic);
  text-shadow: 2px 2px 2px var(--tomato-red);
}
.services__container {
  background-color: var(--white-solid);
  width: 60%;
  margin: 2rem auto;
  box-shadow: 0 1rem 4rem var(--montage);
  border-radius: 5rem;
  text-align: center;
}
.services__container--box {
  padding: 2rem;
}
.services__container--box svg {
  width: 10rem;
  height: 10rem;
  filter: opacity(0.5) drop-shadow(0 0 0 var(--aero));
}
.services__container--box img {
  width: 10rem;
  height: 10rem;
  filter: opacity(0.5) drop-shadow(0 0 0 var(--aero));
}
.services__container--head {
  font-size: 2rem;
  padding: 1rem 0;
  text-shadow: 2px 2px 2px var(--tomato-red);
}
.services__container--text {
  padding: 1rem;
}
.services__container--text-1 {
  color: var(--color-black);
  font-weight: var(--bold);
  border-radius: 2rem;
}
.services__container--num {
  font-size: 3rem;
  font-weight: var(--boldest);
  font-style: var(--italic);
  color: var(--color-black);
}

.information {
  font-size: 1.8rem;
  text-align: center;
  padding: 0rem 2rem;
}
.information__heading {
  padding: 1rem 0;
  font-size: 2.2rem;
  text-shadow: 2px 2px 2px var(--tomato-red);
}
.information__container {
  width: 100%;
  height: auto;
  padding: 1rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information__container--head {
  padding: 1rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px var(--tomato-red);
}
.information__vd {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.15;
  padding: 2rem 0;
}
.information__vd--content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact {
  background-color: var(--color-black);
  color: var(--white-solid);
  text-align: center;
}
.contact__box {
  padding: 1rem;
}
.contact__heading {
  padding: 1rem;
}
.contact__heading-icon {
  width: 3rem;
  height: 3rem;
  fill: var(--white-solid);
}
.contact__address {
  font-size: 1.5rem;
}
.contact__text {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact__text-location {
  fill: var(--tomato-red);
  width: 3rem;
  height: 3rem;
}
.contact__text-phone {
  fill: var(--energise);
  width: 3rem;
  height: 3rem;
}
.contact__text-mail {
  fill: var(--mandarin-red);
  width: 3rem;
  height: 3rem;
}
.contact__text-whatsapp {
  fill: var(--energise);
  width: 3rem;
  height: 3rem;
}
.contact__text-facebook {
  fill: var(--ticino-blue);
  width: 3rem;
  height: 3rem;
}
.contact__text a {
  text-decoration: none;
  color: var(--white-solid);
}

.attribution {
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: var(--white-solid);
  font-style: var(--italics);
}

@-webkit-keyframes slideIn {
  0% {
    background-image: linear-gradient(var(--dead-green), var(--wild-forest)), url("/img/machine-1.jpg");
    opacity: 0;
  }
  10% {
    background-image: linear-gradient(var(--wild-forest), var(--dead-green)), url("/img/clothes-1.jpg");
    opacity: 1;
  }
  20% {
    background-image: linear-gradient(var(--dead-green), var(--wild-forest)), url("/img/machine-2.jpg");
    opacity: 0;
  }
  30% {
    background-image: linear-gradient(var(--wild-forest), var(--american-green)), url("/img/machine-3.jpg");
    opacity: 1;
  }
  40% {
    background-image: linear-gradient(45deg, var(--press-green), transparent), url("/img/building-1-min.jpeg");
    opacity: 0;
  }
  55% {
    background-image: linear-gradient(var(--american-green), var(--sage-garden)), url("/img/full-card-min.jpeg");
    opacity: 1;
  }
  65% {
    background-image: linear-gradient(var(--sage-garden), var(--dead-green)), url("/img/machine-4.jpg");
    opacity: 0;
  }
  90% {
    background-image: linear-gradient(var(--sage-garden), var(--sage-garden)), url("/img/soap.jpg");
    opacity: 0;
  }
  100% {
    background-image: linear-gradient(var(--sage-garden), var(--wild-forest)), url("/img/machine-5.jpg");
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    background-image: linear-gradient(var(--dead-green), var(--wild-forest)), url("/img/machine-1.jpg");
    opacity: 0;
  }
  10% {
    background-image: linear-gradient(var(--wild-forest), var(--dead-green)), url("/img/clothes-1.jpg");
    opacity: 1;
  }
  20% {
    background-image: linear-gradient(var(--dead-green), var(--wild-forest)), url("/img/machine-2.jpg");
    opacity: 0;
  }
  30% {
    background-image: linear-gradient(var(--wild-forest), var(--american-green)), url("/img/machine-3.jpg");
    opacity: 1;
  }
  40% {
    background-image: linear-gradient(45deg, var(--press-green), transparent), url("/img/building-1-min.jpeg");
    opacity: 0;
  }
  55% {
    background-image: linear-gradient(var(--american-green), var(--sage-garden)), url("/img/full-card-min.jpeg");
    opacity: 1;
  }
  65% {
    background-image: linear-gradient(var(--sage-garden), var(--dead-green)), url("/img/machine-4.jpg");
    opacity: 0;
  }
  90% {
    background-image: linear-gradient(var(--sage-garden), var(--sage-garden)), url("/img/soap.jpg");
    opacity: 0;
  }
  100% {
    background-image: linear-gradient(var(--sage-garden), var(--wild-forest)), url("/img/machine-5.jpg");
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */