@keyframes slideIn {
  0% {
    background-image: linear-gradient(var(--dead-green), var(--wild-forest)),
      url("../../../img/machine-1.jpg");
  }
  10% {
    background-image: linear-gradient(var(--wild-forest), var(--dead-green)),
      url("../../../img/clothes-1.jpg");
  }
  20% {
    background-image: linear-gradient(var(--dead-green), var(--wild-forest)),
      url("../../../img/machine-2.jpg");
  }
  30% {
    background-image: linear-gradient(var(--wild-forest), var(--american-green)),
      url("../../../img/machine-3.jpg");
  }
  40% {
    background-image: linear-gradient(var(--press-green), var(--sage-garden)),
      url("../../../img/building-1-min.jpeg");
  }
  55% {
    background-image: linear-gradient(var(--american-green), var(--sage-garden)),
      url("../../../img/full-card-min.jpeg");
  }
  65% {
    background-image: linear-gradient(var(--sage-garden), var(--dead-green)),
      url("../../../img/machine-4.jpg");
  }
  75% {
    background-image: linear-gradient(var(--dead-green), var(--sage-garden)),
      url("../../../img/Wizkid-min.jpg");
  }
  90% {
    background-image: linear-gradient(var(--sage-garden), var(--sage-garden)),
      url("../../../img/soap.jpg");
  }
  100% {
    background-image: linear-gradient(var(--sage-garden), var(--wild-forest)),
      url("../../../img/machine-5.jpg");
  }
}

@keyframes fade-bottom {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100rem);
  }
  100% {
    transform: translateX(-100rem);
  }
}
