*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%; // 1rem = 8px /// 600px

  @include respond(phone-smallest) {
    font-size: 31.25%; // 1rem = 5px /// 320px
  }

  @include respond(phone) {
    font-size: 37.5%; //  1rem = 6px /// 375px
  }

  @include respond(tab-land) {
    font-size: 56.25%; //   1rem = 9px /// 900px
  }

  @include respond(laptop) {
    font-size: 62.5%; //  1rem = 10px //  1200px
  }

  @include respond(large-screen) {
    font-size: 75%; //  1rem = 12px //  1600px
  }
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.8rem;
  max-width: 100%;
  color: var(--color-grey);
  background-color: var(--pensive);
}

// .dark-mode {
//   background-color: black;
//   color: white;
// }

::selection {
  background-color: var(--energise);
  color: var(--ma-white);
}
