*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%; // 1rem = 8px /// 600px

  // @include respond(phone-smallest) {
  //   font-size: 31.25%;
  // }
  // @include respond(phone) {
  //   font-size: 37.5%;
  // }

  // @include respond(tab-land) {
  //   font-size: 56.25%;
  // }
  // @include respond(laptop) {
  //   font-size: 62.5%;
  // }
  // @include respond(large-screen) {
  //   font-size: 75%;
  // }
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  max-width: 100%;
  color: var(--color-grey);
  background-color: var(--pensive);
}

::selection {
  background-color: var(--energise);
  color: var(--ma-white);
}
