@mixin absTop {
  position: absolute;
  top: 0;
  left: 0;
}

// Media queries manager 
// 320px - 375px   Phone-smallest
// 375px - 600px   // Phone (the normal screen size used in the initial styling)
// 500px           // Phone normal
// 600px - 900px   // Tablet Portrait
// 900px - 1200px  // Tablet Landscape
// 1200px - 1600px // Laptop
// 1600px upwards  // Large Screens

// // // // Break point arguments  // // // //
// - phone-smallest
// - phone
// - phone-normal
// - tab-port
// - tab-land
// - laptop
// - large screen

// 1em == 16px

@mixin respond($breakpoint) {
  @if $breakpoint == phone-smallest {
    @media only screen and (min-width: 20em) {
      @content;
    } // 320px
  }

  @if $breakpoint == phone {
    @media only screen and (min-width: 23.44em) {
      @content;
    } // 375px
  }

  @if $breakpoint == phone-normal {
    @media only screen and (min-width: 31.25em) {
      @content;
    } // 500px
  }

  @if $breakpoint == tab-port {
    @media only screen and (min-width: 37.5em) {
      @content;
    } // 600px
  }

  @if $breakpoint == tab-land {
    @media only screen and (min-width: 56.25em) {
      @content;
    } //900px
  }

  @if $breakpoint == laptop {
    @media only screen and (min-width: 75em) {
      @content;
    } //1200px
  }

  @if $breakpoint == large-screen {
    @media only screen and (min-width: 100em) {
      @content;
    } //1600px
  }
}
