.contact {
  background-color: var(--color-black);
  color: var(--white-solid);
  text-align: center;

  &__box {
    padding: 1rem;
  }

  &__heading {
    padding: 0.5rem;
    color: var(--neon-blue);

    &-icon {
      width: 3rem;
      height: 3rem;
      fill: var(--neon-blue);
    }
  }

  &__address {
    font-size: 1.5rem;

    @include respond(tab-land) {
      font-size: 2.5rem;
      display: grid;
      grid:
        "box1 box1" 1fr
        "box2 box3" 1fr
        "box4 box5" 1fr
        / 1fr 1fr;
      justify-items: center;
    }

    @include respond(laptop) {
      font-size: 1.5rem;
      grid: "box1 box1 box2 box3 box4 box5" 1fr;
      justify-items: space-between;
    }
  }

  @include respond(tab-land) {
    &__box1 {
      grid-area: box1;
    }

    &__box2 {
      grid-area: box2;
    }

    &__box3 {
      grid-area: box3;
    }

    &__box4 {
      grid-area: box4;
    }

    &__box5 {
      grid-area: box5;
    }
  }

  &__text {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      width: 3rem;
      height: 3rem;
    }

    &-location {
      fill: var(--tomato-red);
    }

    &-phone {
      fill: var(--energise);
    }

    &-mail {
      fill: var(--ticino-blue);
    }

    &-whatsapp {
      fill: var(--energise);
    }

    &-facebook {
      fill: var(--ticino-blue);
    }

    a {
      text-decoration: none;
      color: var(--white-solid);
    }
  }
}

.attribution {
  text-align: center;

  a {
    text-decoration: none;
    color: var(--neon-blue);
    font-style: var(--italics);
  }
}
