.contact {
  background-color: var(--color-black);
  color: var(--white-solid);
  text-align: center;

  &__box {
    padding: 1rem;
  }

  &__heading {
    padding: 1rem;

    &-icon {
      width: 3rem;
      height: 3rem;
      fill: var(--white-solid);
    }
  }

  &__address {
    font-size: 1.5rem;
  }

  &__text {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;

    &-location {
      fill: var(--tomato-red);
      width: 3rem;
      height: 3rem;
    }

    &-phone {
      fill: var(--energise);
      width: 3rem;
      height: 3rem;
    }

    &-mail {
      fill: var(--mandarin-red);
      width: 3rem;
      height: 3rem;
    }

    &-whatsapp {
      fill: var(--energise);
      width: 3rem;
      height: 3rem;
    }

    &-facebook {
      fill: var(--ticino-blue);
      width: 3rem;
      height: 3rem;
    }

    a {
      text-decoration: none;
      color: var(--white-solid);
    }
  }
}

.attribution {
  text-align: center;

  a {
    text-decoration: none;
    color: var(--white-solid);
    font-style: var(--italics);
  }
}
