.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 17vh;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(var(--heavenly-white), var(--color-white));
  display: flex;
  flex-direction: column;
  z-index: 100;

  @include respond(phone-smallest) {
    height: 15vh;
  }

  @include respond(galaxy) {
    height: 11vh;
  }

  @include respond(iphone6-8) {
    height: 15vh;
  }

  @include respond(iphone) {
    height: 13vh;
  }

  @include respond(windows-phone) {
    height: 11vh;
  }

  @include respond(tab-port) {
    height: 25vh;
  }

  @include respond(ipad) {
    height: 15vh;
  }

  @include respond(ipad12) {
    height: 12vh;
  }

  @include respond(laptop) {
    height: 22vh;
  }

  &__1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 18rem;
    height: 10rem;
    border-radius: 1rem;

    @include respond(phone-smallest) {
      margin: 2rem 0;
    }

    @include respond(tab-port) {
      height: 11rem;
      width: 20rem;
    }

    &--caption {
      display: none;

      @include respond(tab-port) {
        display: block;
        position: absolute;
        top: 0.5rem;
        left: 22rem;
        text-transform: uppercase;
      }
    }

    &--chala {
      font-weight: var(--bold);
      font-family: "Rubik Microbe", cursive;
      background: linear-gradient(var(--lynx-screen-blue), var(--mandarin-red));
      background-clip: text;
      color: transparent;
      letter-spacing: 0.3rem;
    }

    &--dry {
      position: inherit;
      left: 7rem;
      font-family: "Rubik Bubbles", cursive;
      background-image: linear-gradient(
        var(--hippie-blue),
        var(--lynx-screen-blue),
        var(--tomato-red),
        var(--lynx-screen-blue)
      );
      background-clip: text;
      color: transparent;
    }

    &--vice {
      position: inherit;
      left: 12rem;
      font-family: "Rubik Wet Paint", sans-serif;
      background-image: linear-gradient(
        var(--tomato-red),
        var(--lynx-screen-blue),
        var(--mandarin-red)
      );
      background-clip: text;
      color: transparent;
    }
  }

  &__text {
    padding: 0rem 1rem;
    text-align: center;
    font-size: 2rem;

    @include respond(tab-port) {
      font-size: 1.5rem;
    }

    @include respond(tab-land) {
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;
      font-size: 1.5rem;
    }

    &--icon {
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }

    svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: currentColor;

      @include respond(tab-land) {
        fill: var(--hippie-blue);
      }
    }

    a {
      &:link,
      &:visited {
        text-decoration: none;
        color: inherit;
        font-weight: var(--bold);

        @include respond(tab-land) {
          color: var(--hippie-blue);
        }
      }
    }
  }
}
