.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 20vh;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(var(--heavenly-white), var(--color-white));
  display: flex;
  flex-direction: column;
  z-index: 100;

  &__1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 10rem;
    height: 5rem;
    border-radius: 1rem;

    &--caption {
      display: none;

      @include respond(tab-port) {
        display: block;
        position: absolute;
        top: 0.5rem;
        left: 12rem;
        text-transform: uppercase;
        font-size: 1.2rem;
      }
    }

    &--chala {
      font-weight: var(--bold);
      // text-align: center;
      font-family: "Rubik Microbe", cursive;
      background: linear-gradient(var(--vivid-blue), var(--pea-green));
      background-clip: text;
      color: transparent;
      letter-spacing: 0.5rem;
    }

    &--dry {
      position: inherit;
      left: 7rem;
      font-family: "Rubik Bubbles", cursive;
      background-image: linear-gradient(
        var(--hippie-blue),
        var(--vivid-blue),
        var(--vivid-blue),
        var(--hippie-blue)
      );
      background-clip: text;
      color: transparent;
    }

    &--vice {
      position: inherit;
      left: 12rem;
      font-family: "Rubik Wet Paint", sans-serif;
      background-image: linear-gradient(
        var(--light-blue-1),
        var(--light-blue-2),
        var(--neo-mint)
      );
      background-clip: text;
      color: transparent;
    }
  }

  &__text {
    padding: 0rem 1rem;
    // text-align: center;
    font-size: 1.1rem;

    @include respond(tab-land) {
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;
      font-size: 2rem;
    }

    &--icon {
      display: flex;
      align-items: center;
    }

    &--num {
      font-weight: var(--bold);

      @include respond(tab-land) {
        color: var(--hippie-blue);
      }
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;

      @include respond(tab-land) {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--hippie-blue);
      }
    }

    &--email {
      font-weight: var(--bold);

      @include respond(tab-land) {
        color: var(--neon-blue);
      }
    }

    a {
      text-decoration: none;
      color: var(--color-grey);

      @include respond(tab-land) {
        color: unset;
      }
    }
  }
}
