.about {
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--gnocchi-beige),
    var(--color-white)
  );
  padding: 1rem 2rem;
  text-align: center;

  &__desc {
    display: flex;
    flex-direction: column;

    @include respond(tab-land) {
      font-size: 2rem;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    }
  }

  &__photo {
    width: 100%;
  }

  &__img {
    width: 60rem;
    height: 40rem;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 0 2rem 2rem var(--white-solid);

    @include respond(phone-smallest) {
      width: auto;
    }

    @include respond(tab-port) {
      width: 70rem;
      height: 50rem;
    }

    @include respond(tab-land) {
      width: 55rem;
      height: auto;
    }

    @include respond(laptop) {
      width: 65rem;
    }

    &--caption {
      font-style: var(--italic);
      font-weight: 700;
      font-size: 1.8rem;
    }
  }

  &__heading {
    font-size: 4rem;
    font-weight: var(--bold);
    padding: 1rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-family: "Rubik Microbe", sans-serif;
    background-image: linear-gradient(
      45deg,
      var(--blue-chip) 0%,
      var(--ticino-blue) 50%,
      var(--eye-blue) 51%,
      var(--aero) 100%
    );
    background-clip: text;
    color: transparent;

    &--2 {
      font-size: 4rem;
      font-weight: var(--bold);
      padding: 0.5rem;
      color: var(--blue-chip);
      word-spacing: 2rem;

      span {
        color: var(--aero);
        font-weight: 800;
        font-family: var(--font-Dosis);
      }
    }

    &--3 {
      padding: 0.5rem 0;
      font-weight: var(--bold);
    }
  }

  &__paragraph {
    &--1 {
      padding: 1rem;
      font-size: 3rem;
      font-style: var(--italic);
      font-weight: var(--boldest);
      background-image: linear-gradient(var(--mandarin-red), var(--tomato-red));
      background-clip: text;
      color: transparent;
    }

    &--2 {
      font-weight: var(--boldest);
      font-size: 2rem;
    }

    &--3 {
      font-size: 3rem;
      font-weight: var(--bold);
      background: linear-gradient(
        90deg,
        var(--belladonna) 0%,
        var(--peaceful-purple) 17%,
        var(--washed-blue) 39%,
        var(--dark-royalty) 59%,
        var(--lynx-screen-blue) 85%,
        var(--vallarta-blue) 100%
      );
      background-clip: text;
      color: transparent;
      padding: 1rem;
    }
  }
}
