.home {
  height: 88vh;
  width: 100%;
  margin-top: 10rem;
  // background-image: linear-gradient(
  //   105deg,
  //   var(--energise),
  //   var(--american-green)
  // );
  overflow: hidden;

  @include respond(iphone6-8) {
    height: 95vh;
  }

  @include respond(iphone) {
    height: 95vh;
  }

  @include respond(tab-port) {
    height: 80vh;
  }

  @include respond(ipad) {
    height: 90vh;
  }

  @include respond(laptop) {
    height: 88vh;
  }

  &__container {
    height: 100%;
    width: 100%;
    position: relative;
  }

  &__bg {
    height: 100%;
    width: 100%;

    &--slide {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      backface-visibility: hidden;
      animation: slideIn 70s linear infinite forwards;
    }
  }

  &__text {
    width: 100%;
    font-size: 3.5rem;
    font-family: var(--font-Dosis);
    font-weight: var(--bold);
    position: absolute;
    top: 5rem;
    color: var(--ma-white);

    @include respond(phone-smallest) {
      top: 15rem;
    }

    @include respond(galaxy) {
      top: 35rem;
    }

    @include respond(ipad12) {
      top: 35rem;
    }

    @include respond(laptop) {
      top: 5rem;
    }

    @include respond(large-screen) {
      top: 30rem;
    }

    &-slide {
      color: var(--pensive);
      font-style: italic;
      white-space: nowrap;
      animation: slide-left 12s linear infinite 3s;

      span {
        margin-right: 100%;
        text-transform: capitalize;
      }
    }

    &-box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--msg {
      color: var(--lime-flip);
      font-style: oblique;
    }

    &--quick {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 5rem;
      font-weight: 800;
      font-family: var(--font-default);
      letter-spacing: 0.5rem;
      color: var(--dark-royalty);
      background-image: linear-gradient(
        120deg,
        var(--lynx-white),
        var(--green-essence) 100%
      );
      background-repeat: no-repeat;
      background-size: 100% 1rem;
      background-position: 0 70%;
      transition: background-size 0.3s ease-in;

      &:hover {
        background-size: 100% 60%;
      }
    }

    a {
      &:link,
      &:visited {
        text-decoration: none;
        font-weight: 800;
        font-style: oblique;
        letter-spacing: 0.3rem;
        background-image: linear-gradient(
          90deg,
          var(--dark-royalty) 0%,
          var(--vivid-blue) 17%,
          var(--dark-royalty) 39%,
          var(--vivid-blue) 59%,
          var(--dark-royalty) 85%,
          var(--vivid-blue) 100%
        );
        background-clip: text;
        color: transparent;
        cursor: pointer;
      }
    }
  }
}
