.home {
  height: 85vh;
  width: 100%;
  margin-top: 10rem;
  font-weight: 700;
  background-image: linear-gradient(
    105deg,
    var(--energise),
    var(--american-green)
  );
  overflow: hidden;

  @include respond(tab-port) {
    height: 78vh;
  }

  @include respond(laptop) {
    height: 88vh;
  }

  &__container {
    height: 100%;
    width: 100%;
    position: relative;
  }

  &__bg {
    height: 100%;
    width: 100%;

    &--slide {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      backface-visibility: hidden;
      animation: slideIn 70s linear infinite normal forwards 1s;
      transform: translateX(0);
    }
  }

  &__text {
    width: 100%;
    font-size: 3.5rem;
    font-family: var(--font-Dosis);
    font-weight: var(--bold);
    position: absolute;
    top: 5rem;
    left: 15rem;
    color: var(--ma-white);

    @include respond(phone-smallest) {
      font-size: 5rem;
      left: 3rem;
    }

    @include respond(tab-port) {
      line-height: 1.3;
    }

    @include respond(tab-land) {
      font-size: 3rem;
    }

    @include respond(laptop) {
      padding: 3rem 20rem;
    }

    &-slide {
      color: var(--pensive);
      white-space: nowrap;
      animation: slide-left 10s linear infinite;

      span {
        margin-right: 20rem;
        text-transform: uppercase;
      }
    }

    &-box {
      // height: 0rem;
      position: relative;
      text-align: center;
      // overflow-y: hidden;

      div {
        position: absolute;
        top: 5rem;
        animation: slide 5s infinite;

        @include respond(tab-port) {
          top: 0rem;
        }

        @include respond(laptop) {
          top: 3rem;
        }
      }
    }

    &--span {
      font-weight: 500;
      color: var(--lynx-white);
    }

    &--quick {
      display: inline-block;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 5rem;
      font-weight: 800;
      font-family: var(--font-default);
      letter-spacing: 0.5rem;
      color: var(--dark-royalty);
      background-image: linear-gradient(
        120deg,
        var(--lynx-white),
        var(--green-essence) 100%
      );
      background-repeat: no-repeat;
      background-size: 100% 1rem;
      background-position: 0 70%;
      transition: background-size 0.3s ease-in;

      &:hover {
        background-size: 100% 60%;
      }
    }

    a {
      &:link,
      &:visited {
        text-decoration: none;
        font-weight: 800;
        font-style: oblique;
        letter-spacing: 0.3rem;
        background-image: linear-gradient(
          90deg,
          var(--dark-royalty) 0%,
          var(--vivid-blue) 17%,
          var(--dark-royalty) 39%,
          var(--vivid-blue) 59%,
          var(--dark-royalty) 85%,
          var(--vivid-blue) 100%
        );
        background-clip: text;
        color: transparent;
        cursor: pointer;
      }
    }
  }
}
