.services {
  background: linear-gradient(
    to right,
    var(--schabziger-yellow),
    var(--light-kiri-mist)
  );

  &__heading {
    font-size: 4rem;
    text-align: center;
    font-weight: var(--bold);
    font-family: var(--font-Dosis);
    text-shadow: 0.2rem 0.2rem 0.2rem var(--aero);
    word-spacing: 0.5rem;
    width: 75%;
    margin: 0 auto;
    padding: 1rem;

    span {
      display: block;
      font-weight: var(--boldest);
      font-style: var(--italic);
      text-shadow: 0.2rem 0.2rem 0.2rem var(--tomato-red);
      text-transform: uppercase;
    }
  }

  &__container {
    background-color: var(--white-solid);
    width: 80%;
    margin: 5rem auto;
    box-shadow: 0 1rem 3rem var(--montage);
    border-radius: 2rem;
    text-align: center;

    @include respond(tab-port) {
      width: 90%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    @include respond(laptop) {
      width: 100%;
      border-radius: unset;
      box-shadow: unset;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto auto;
    }

    &--box {
      padding: 2rem;

      @include respond(tab-port) {
        font-size: 2rem;
      }

      svg {
        width: 15rem;
        height: 15rem;
        filter: opacity(0.5) drop-shadow(0 0 0 var(--aero));
      }

      img {
        width: 15rem;
        height: 15rem;
        filter: opacity(0.5) drop-shadow(0 0 0 var(--aero));
      }
    }

    &--head {
      font-size: 3rem;
      padding: 1rem 0;
      text-transform: uppercase;
      text-shadow: 0.2rem 0.2rem 0.2rem var(--tomato-red);
    }

    &--text {
      padding: 1rem;
      color: var(--color-grey);

      @include respond(tab-port) {
        grid-column: 1 / -1;
        align-self: end;
      }

      span {
        font-size: 3rem;
        font-weight: var(--boldest);
        font-style: var(--italic);
        color: var(--lynx-screen-blue);
      }
    }
  }
}

.information {
  text-align: center;
  padding: 0rem 3.5rem;

  @include respond(tab-land) {
    display: flex;
  }

  &__heading {
    padding-top: 1rem;
    text-align: center;
    font-size: 4rem;
    color: var(--white-solid);
    word-spacing: 0.3rem;
    text-transform: uppercase;
    background: linear-gradient(
      120deg,
      var(--vivid-blue),
      var(--neo-mint) 100%
    );

    @include respond(laptop) {
      background: unset;
      color: var(--lynx-screen-blue);
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    padding: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--head {
      padding: 1rem;
      text-transform: uppercase;
      font-size: 3.5rem;
      font-weight: var(--boldest);
      letter-spacing: 0.3rem;
    }
  }

  &__vd {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    padding: 2rem 0;

    &--content {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
